.request-container {
  border-radius: 10px;
  font-size: 16px;
  max-width: 60vw;
  border: 2px solid #ff0000;
  .request-service {
    display: flex;
    justify-content: space-between;
    .request-service-left {
      border: 2px solid #ff0000;
    }
    .request-service-right {
      display: flex;
      flex-direction: column;
      button {
        margin: 10px 0;
      }
    }
  }
  .request-customer {
    display: flex;
    border: 2px solid #7bff00;
    .request-customer-left {
      border: 2px solid #7bff00;
    }
    .request-customer-right {
      display: flex;
      flex-direction: column;
    }
  }
  .request-time {
    display: flex;
    .request-time-left {
      border: 2px solid #ffbf00;
    }
    .request-time-right {
    }
  }
  .request-location {
    display: flex;
    .request-location-left {
      border: 2px solid #31fcff;
    }
    .request-location-right {
      display: flex;
      flex-direction: column;
    }
  }
  .request-price {
    display: flex;
    flex-direction: column;
    .request-price-top {
      border: 1px solid red;

      display: flex;
      .request-price-top-left {
        border: 1px solid red;
      }
      .request-price-top-right {
        display: flex;
        flex-direction: column;
      }
    }
    .request-price-bottom {
      display: flex;
      flex-direction: column;
    }
  }
}
